body{
  width: 100%;
}
a{
  color: inherit;
  text-decoration: none;
}
/* 숨김 컨텐츠 */
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  background-color: red;
}


/* 헤더 */

.header {
  height: 72px;
  background-color: #204ecf;
}

.inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 1350px;
  height: 100%;
  color: #fff;
  margin: 0 auto;
}

.left {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.left a {
  display: inline-block;
  padding-right: 15px;
  border-right: 1px solid #ebeced;
  cursor: pointer;
}

.left h1 {
  display: inline-block;
  padding-left: 15px;
  line-height: 28px;
  font-size: 17px;
  margin-bottom: 5px;
}

.github-logo{
padding-right: 100px;
}


/* 메인 */
section{
  width: 100%;
  min-height: 1100px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.container{
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
.gitignore_title {
  color: #204ecf;
  margin-top: 150px;
  font-family: 'Roboto Slab', serif;
}
.gitignore_title::before{
  content: "";
  display: inline-block;
  background-image: url(../assets/thumlogo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 17px;
  margin: 0 10px;
}
.gitignore_title span:first-child{
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 50px;
}
.gitignore_title span:last-child{
  font-size: 45px;
  letter-spacing: 5px;
  font-weight: 300;
}
.sub_title{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin-top: 10px;
}
.searchForm{
  margin-top: 30px;
  font-size: 0;
  width: 100%;
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
}
.searchInput{
  width: 470px;
  padding: 16px 0;
  margin: 0;
  border: 1px solid #ccc;
  text-indent: 10px;  
}
.searchInput::-webkit-input-placeholder{
  color: #ccc;
  font-size: 13px;
}
.buttonSearch{
  margin: 0;
  flex-grow: 1;
  padding: 15px 0;
  background-color: #00cc83;
  border: 0px;
  color: #fff;
  font-size: 14px;
}
.buttonSearch:hover, .buttonSearch:focus{
  background-color: #2aad7f;
}
.gitignore_link{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 20px;
}
.gitignore_link li a{
  padding: 8px 0;
  text-decoration: none;
  color: #204ecf;
}
.gitignore_link li:first-child::after{
  content: "|";
  display: inline-block;
  margin: 0 20px;
  color: #204ecf;
  font-size: 14px;
}
.gitignore_link li a:hover, .gitignore_link li a:focus{
  border-bottom: 1px solid #204ecf;
}


/* 푸터 */
.footer{
  background-color: #204ecf;
  padding: 30px;
}

.footer-inner{
  /* background-color: #ccc; */
  width: 1350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-left{
  /* background-color: yellowgreen; */
}

.footer-right{
  /* background-color: pink; */
}
.left-title, .right-title{
  padding-bottom: 10px;
  color: #fff;
  border-bottom: 1px solid hsla(0,0%,100%,.2);
}
.left-list li, .right-list li{
  margin-top: 10px;
}
.left-list a, .right-list a{
  font-weight: 300;
  color: #fff;
}
.right-list a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 1px solid hsla(0,0%,100%,.2);
    border-radius: 50%;
}
.right-list li{
  display: inline-block;
  margin-right: 16px;
}

.fa-linkedin-in, .fa-twitter, .fa-facebook-f, .fa-instagram{
  width: 18px;
  height: 18px;
  color: #fff;
}