
/* 숨김 컨텐츠 */
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  background-color: red;
}


/* 헤더 */

.header {
  height: 72px;
  background-color: #204ecf;
}

.inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 1350px;
  height: 100%;
  color: #fff;
  margin: 0 auto;
}

.left {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.left a {
  display: inline-block;
  padding-right: 15px;
  border-right: 1px solid #ebeced;
  cursor: pointer;
}

.left h1 {
  display: inline-block;
  padding-left: 15px;
  line-height: 28px;
  font-size: 17px;
  margin-bottom: 5px;
}

.github-logo{
padding-right: 100px;
}


/* 메인 */

.gitignore_title {
  font-size: 30px;
  color: #204ecf;
}



/* 푸터 */
.footer {
  background-color: #00cc83;
  color: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}